evaluation_results/
infer_input/
infer_output/
runs/
data/
yolo_dataset/
reid_training/
*.pt
*.json
*.txt
!requirements.txt
*.csv
*.log
*.err
*.out
*.log.*
*.err.*
*.out.*
*.png
__pycache__/
*.pyc
*:Zone.Identifier
tmp/
*ipynb
yolo_benchmark_dataset/
yolo_dataset_orig_split_dataset_py/